levelbar .weak {
  background-color: var(--destructive-bg-color);
  border-color: var(--destructive-bg-color);
}

levelbar .low {
  background-color: var(--warning-bg-color);
  border-color: var(--warning-bg-color);
}

levelbar .medium,
levelbar .good,
levelbar .high {
  background-color: var(--success-bg-color);
  border-color: var(--success-bg-color);
}

.larger {
  font-size: 16px;
}
